NET "CLK_50MHZ_PIN" LOC = "P183";
NET "IDXR_DIR_PIN<0>" LOC = "P6";
NET "IDXR_CLK_PIN<0>" LOC = "P14";
NET "IDXR_DIR_PIN<1>" LOC = "P20";
NET "IDXR_CLK_PIN<1>" LOC = "P26";
NET "IDXR_DIR_PIN<2>" LOC = "P32";
NET "IDXR_CLK_PIN<2>" LOC = "P43";
NET "IDXR_DIR_PIN<3>" LOC = "P51";
NET "IDXR_CLK_PIN<3>" LOC = "P54";
NET "IDXR_DIR_PIN<4>" LOC = "P57";
NET "IDXR_CLK_PIN<4>" LOC = "P58";
NET "IDXR_DIR_PIN<5>" LOC = "P71";
NET "IDXR_CLK_PIN<5>" LOC = "P72";
NET "IDXR_DIR_PIN<6>" LOC = "P80";
NET "IDXR_CLK_PIN<6>" LOC = "P91";
NET "IDXR_DIR_PIN<7>" LOC = "P101";
NET "IDXR_CLK_PIN<7>" LOC = "P110";
NET "IDXR_DIR_PIN<8>" LOC = "P118";
NET "IDXR_CLK_PIN<8>" LOC = "P124";
NET "IDXR_DIR_PIN<9>" LOC = "P130";
NET "IDXR_CLK_PIN<9>" LOC = "P136";
NET "IDXR_DIR_PIN<10>" LOC = "P142";
NET "IDXR_CLK_PIN<10>" LOC = "P148";
NET "IDXR_DIR_PIN<11>" LOC = "P154";
NET "IDXR_CLK_PIN<11>" LOC = "P159";
NET "IDXR_DIR_PIN<12>" LOC = "P169";
NET "IDXR_CLK_PIN<12>" LOC = "P174";
NET "IDXR_DIR_PIN<13>" LOC = "P175";
NET "IDXR_CLK_PIN<13>" LOC = "P184";
NET "IDXR_DIR_PIN<14>" LOC = "P194";
NET "IDXR_CLK_PIN<14>" LOC = "P204";
NET "IDXR_DIR_PIN<15>" LOC = "P205";
NET "IDXR_CLK_PIN<15>" LOC = "P206";
NET "DRVR_CW_PIN<0>" LOC = "P28";
NET "DRVR_CCW_PIN<0>" LOC = "P29";
NET "DRVR_CW_PIN<1>" LOC = "P30";
NET "DRVR_CCW_PIN<1>" LOC = "P31";
NET "DRVR_CW_PIN<2>" LOC = "P33";
NET "DRVR_CCW_PIN<2>" LOC = "P34";
NET "DRVR_CW_PIN<3>" LOC = "P35";
NET "DRVR_CCW_PIN<3>" LOC = "P36";
NET "DRVR_CW_PIN<4>" LOC = "P39";
NET "DRVR_CCW_PIN<4>" LOC = "P40";
NET "DRVR_CW_PIN<5>" LOC = "P41";
NET "DRVR_CCW_PIN<5>" LOC = "P42";
NET "DRVR_CW_PIN<6>" LOC = "P45";
NET "DRVR_CCW_PIN<6>" LOC = "P47";
NET "DRVR_CW_PIN<7>" LOC = "P48";
NET "DRVR_CCW_PIN<7>" LOC = "P49";
NET "DRVR_CW_PIN<8>" LOC = "P50";
NET "DRVR_CCW_PIN<8>" LOC = "P55";
NET "DRVR_CW_PIN<9>" LOC = "P60";
NET "DRVR_CCW_PIN<9>" LOC = "P61";
NET "DRVR_CW_PIN<10>" LOC = "P62";
NET "DRVR_CCW_PIN<10>" LOC = "P63";
NET "DRVR_CW_PIN<11>" LOC = "P64";
NET "DRVR_CCW_PIN<11>" LOC = "P65";
NET "DRVR_CW_PIN<12>" LOC = "P68";
NET "DRVR_CCW_PIN<12>" LOC = "P69";
NET "DRVR_CW_PIN<13>" LOC = "P74";
NET "DRVR_CCW_PIN<13>" LOC = "P75";
NET "DRVR_CW_PIN<14>" LOC = "P76";
NET "DRVR_CCW_PIN<14>" LOC = "P77";
NET "DRVR_CW_PIN<15>" LOC = "P78";
NET "DRVR_CCW_PIN<15>" LOC = "P82";
NET "SREG_DATA_PIN<0>" LOC = "P2";
NET "SREG_DATA_PIN<1>" LOC = "P3";
NET "SREG_DATA_PIN<2>" LOC = "P4";
NET "SREG_DATA_PIN<3>" LOC = "P5";
NET "SREG_DATA_PIN<4>" LOC = "P8";
NET "SREG_DATA_PIN<5>" LOC = "P9";
NET "SREG_DATA_PIN<6>" LOC = "P11";
NET "SREG_DATA_PIN<7>" LOC = "P12";
NET "SREG_MODE_PIN" LOC = "P15";
NET "SREG_CLK_PIN" LOC = "P16";
NET "LED_PIN<0>" LOC = "P18";
NET "LED_PIN<1>" LOC = "P19";
NET "LED_PIN<2>" LOC = "P22";
NET "LED_PIN<3>" LOC = "P23";
NET "LED_PIN<4>" LOC = "P24";
NET "LED_PIN<5>" LOC = "P25";
NET "IDXR_CCW_LIM_PIN<0>" LOC = "P83";
NET "IDXR_CW_LIM_PIN<0>" LOC = "P89";
NET "IDXR_CCW_LIM_PIN<1>" LOC = "P90";
NET "IDXR_CW_LIM_PIN<1>" LOC = "P93";
NET "IDXR_CCW_LIM_PIN<2>" LOC = "P94";
NET "IDXR_CW_LIM_PIN<2>" LOC = "P96";
NET "IDXR_CCW_LIM_PIN<3>" LOC = "P97";
NET "IDXR_CW_LIM_PIN<3>" LOC = "P98";
NET "IDXR_CCW_LIM_PIN<4>" LOC = "P99";
NET "IDXR_CW_LIM_PIN<4>" LOC = "P100";
NET "IDXR_CCW_LIM_PIN<5>" LOC = "P102";
NET "IDXR_CW_LIM_PIN<5>" LOC = "P106";
NET "IDXR_CCW_LIM_PIN<6>" LOC = "P107";
NET "IDXR_CW_LIM_PIN<6>" LOC = "P108";
NET "IDXR_CCW_LIM_PIN<7>" LOC = "P109";
NET "IDXR_CW_LIM_PIN<7>" LOC = "P112";
NET "IDXR_CCW_LIM_PIN<8>" LOC = "P113";
NET "IDXR_CW_LIM_PIN<8>" LOC = "P115";
NET "IDXR_CCW_LIM_PIN<9>" LOC = "P116";
NET "IDXR_CW_LIM_PIN<9>" LOC = "P119";
NET "IDXR_CCW_LIM_PIN<10>" LOC = "P120";
NET "IDXR_CW_LIM_PIN<10>" LOC = "P122";
NET "IDXR_CCW_LIM_PIN<11>" LOC = "P123";
NET "IDXR_CW_LIM_PIN<11>" LOC = "P126";
NET "IDXR_CCW_LIM_PIN<12>" LOC = "P127";
NET "IDXR_CW_LIM_PIN<12>" LOC = "P128";
NET "IDXR_CCW_LIM_PIN<13>" LOC = "P129";
NET "IDXR_CW_LIM_PIN<13>" LOC = "P132";
NET "IDXR_CCW_LIM_PIN<14>" LOC = "P133";
NET "IDXR_CW_LIM_PIN<14>" LOC = "P134";
NET "IDXR_CCW_LIM_PIN<15>" LOC = "P135";
NET "IDXR_CW_LIM_PIN<15>" LOC = "P137";
NET "INP_PIN<0>" LOC = "P165";
NET "INP_PIN<1>" LOC = "P167";
NET "INP_PIN<2>" LOC = "P168";
NET "INP_PIN<3>" LOC = "P171";
NET "INP_PIN<4>" LOC = "P172";
NET "INP_PIN<5>" LOC = "P177";
NET "INP_PIN<6>" LOC = "P178";
NET "INP_PIN<7>" LOC = "P179";
NET "OUTP_PIN<0>" LOC = "P180";
NET "OUTP_PIN<1>" LOC = "P181";
NET "OUTP_PIN<2>" LOC = "P185";
NET "OUTP_PIN<3>" LOC = "P186";
NET "OUTP_PIN<4>" LOC = "P187";
NET "OUTP_PIN<5>" LOC = "P189";
NET "OUTP_PIN<6>" LOC = "P190";
NET "OUTP_PIN<7>" LOC = "P192";
NET "DOUT_PIN<0>" LOC = "P138";
NET "DOUT_PIN<1>" LOC = "P139";
NET "DOUT_PIN<2>" LOC = "P140";
NET "DOUT_PIN<3>" LOC = "P144";
NET "DOUT_PIN<4>" LOC = "P145";
NET "DOUT_PIN<5>" LOC = "P146";
NET "DOUT_PIN<6>" LOC = "P147";
NET "DOUT_PIN<7>" LOC = "P150";
NET "DOUT_PIN<8>" LOC = "P151";
NET "DOUT_PIN<9>" LOC = "P152";
NET "DOUT_PIN<10>" LOC = "P153";
NET "DOUT_PIN<11>" LOC = "P160";
NET "DOUT_PIN<12>" LOC = "P161";
NET "DOUT_PIN<13>" LOC = "P162";
NET "DOUT_PIN<14>" LOC = "P163";
NET "DOUT_PIN<15>" LOC = "P164";
NET "SPI_NCS_PIN" LOC = "P203";
NET "SPI_SCK_PIN" LOC = "P202";
NET "SPI_MOSI_PIN" LOC = "P200";
NET "SPI_MISO_PIN" LOC = "P199";

NET "CLK_50MHZ_PIN" TNM_NET = SYSTEM_CLK;
TIMESPEC TS_SYSTEM_CLK = PERIOD SYSTEM_CLK 50000 kHz;

NET "SPI_SCK_PIN" CLOCK_DEDICATED_ROUTE = FALSE;
